* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}
ul {
    background-color: rgb(248, 248, 252);
    list-style: none;
    text-align: right;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
padding: 20px 23px;
color: aliceblue;
text-decoration: none;
font-size: 20px;
color: brown;
}
ul li ul.dropdown {
    width: 100%;
    background-color: rgb(from color r g b);
    position: absolute;
    z-index: 999;
    display: none;
    text-align: left;
}
ul li a:hover {background: #112c66;
}
ul li:hover ul.dropdown {
display: block;
}
h4{ color: brown;
font-style: italic;
background-color: #112c66;
}
div { background-image: url(choose1-1\ \(1\).png);
    background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
color:brown;
}
body { background-color:burlywood;

}
h1 { text-align: center;
}
h3 { text-align: center;
}
h5{font-size: large; 
    padding-left: 10px;
    padding-right: 10px;
}
section{ background-color: rgb(96, 95, 95);
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact{ color: #112c66;
}
footer{ background-color: #112c66;
    color: brown;
        padding-top: 20px;
    padding-bottom: 20px;
}
button
{ text-align: center;
    color: aliceblue;
    background-color: #112c66;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 40px;
padding-right: 40px;

}
p{color: #112c66;
font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding-left: 10px;
    padding-right: 10px;
    font-size: large; 
}