h4{ color: brown;
font-style: italic;
background-color: #112c66;
}
 .sea{ color: brown;
font-style: italic;
background-color: #112c66;
border: solid 5px;
} 
#track{ font-size: xx-large; font-family: 'Courier New', Courier, monospace; font-weight: bold;
color: #112c66;
}
h2{border: 1px solid;
    padding: 5px;
    margin: 10px;
    text-align: center;
color: #112c66;
font-size: large;
font-weight: bold;
background-color: brown;

}

h1 {width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: x-large;
color: brown;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{text-align: center;
color: #112c66;
font-size: large;
font-weight: bold;
}

body{
    background-color: whitesmoke;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;

}

.trackingform { text-align: center;
    background-color: #112c66;


}
img{ width: 100%; 
    height: 100%;
border-radius: 0 100px 0 100px;
}

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}
ul {
    background-color: rgb(248, 248, 252);
    list-style: none;
    text-align: right;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
padding: 20px 23px;
color: aliceblue;
text-decoration: none;
font-size: 20px;
color: brown;
}
ul li ul.dropdown {
    width: 100%;
    background-color: rgb(from color r g b);
    position: absolute;
    z-index: 999;
    display: none;
    text-align: left;
}
ul li a:hover {background: #112c66;
}
ul li:hover ul.dropdown {
display: block;
}

p { background-color: #112c66;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
font-style: oblique;
color: brown;
}

.services { background-color: #112c66;
    color: brown;

}
h3 {
    color: brown;
}

.contact {
    background-color: rgb(5, 5, 5);
}

.parent {
    border:  solid 1px #112c66;
    padding: 20px;
    border-radius: 0 100px 0 100px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    background-color: rgb(248, 248, 252);
    color: rgb(5, 0, 0);}

   div .child {color: brown;
}

h5 { font-style: italic;
font-size: medium;
color: #112c66;
}