* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}
ul {
    background-color: rgb(248, 248, 252);
    list-style: none;
    text-align: right;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
padding: 20px 23px;
color: aliceblue;
text-decoration: none;
font-size: 20px;
color: brown;
}
ul li ul.dropdown {
    width: 100%;
    background-color: rgb(from color r g b);
    position: absolute;
    z-index: 999;
    display: none;
    text-align: left;
}
ul li a:hover {background: #112c66;
}
ul li:hover ul.dropdown {
display: block;
}
h4{ color: brown;
font-style: italic;
background-color: #112c66;
}
img{ padding-left: 20px;
}
div{ padding-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}
h3{ padding-left: 40px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
h2{ border: 1px; 
    background-color: brown;
margin-left: 10px;
margin-right: 10px;
color: antiquewhite;
padding: 10px 10px 10px 10px;
font-size: small;
text-align: center;
}
p{ padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
section{ background-color: rgb(96, 95, 95);
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact{ color: #112c66;
}
footer{ background-color: #112c66;
    color: brown;
        padding-top: 20px;
    padding-bottom: 20px;
}
.print{ text-align: center;
    color: aliceblue;
    background-color: #112c66;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 40px;
padding-right: 40px;

}